<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="pi.eclipse.cle.builders.CupOutCup"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="${project_loc:cup-lex-edit}/etc/cup-out.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="cup-lex-edit"/>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
</launchConfiguration>
