<?xml version="1.0" encoding="UTF-8"?>

<?eclipse version="3.0"?>

<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="pi.eclipse.cle.editors.CupEditor"
            default="true"
            extensions="cup"
            icon="icons/cup.gif"
            id="pi.eclipse.cle.CupEditor"
            name="%pi.eclipse.cle.CupEditor"/>
      <editor
            class="pi.eclipse.cle.editors.LexEditor"
            default="true"
            extensions="lex"
            icon="icons/lex.gif"
            id="pi.eclipse.cle.LexEditor"
            name="%pi.eclipse.cle.LexEditor"/>
   </extension>
   <extension
         id="CupLexNature"
         name="%pi.eclipse.cle.CupLexNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="pi.eclipse.cle.builders.CupLexNature"/>
      </runtime>
      <requires-nature id="org.eclipse.jdt.core.javanature"/>
      <builder id="pi.eclipse.cle.LexBuilder"/>
      <builder id="pi.eclipse.cle.CupBuilder"/>
   </extension>
   <extension
         id="CupBuilder"
         name="%pi.eclipse.cle.CupBuilder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true"
            isConfigurable="true">
         <run class="pi.eclipse.cle.builders.CupBuilder"/>
      </builder>
   </extension>
   <extension
         id="LexBuilder"
         name="%pi.eclipse.cle.LexBuilder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true"
            isConfigurable="true">
         <run class="pi.eclipse.cle.builders.LexBuilder"/>
      </builder>
   </extension>
   <extension
         id="CupBuilder"
         name="%pi.eclipse.cle.CupBuilder"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         id="LexBuilder"
         name="%pi.eclipse.cle.LexBuilder"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="pi.eclipse.cle.properties.CupPropertyPage"
            icon="icons/cup.gif"
            id="pi.eclipse.cle.CupPropertyPage"
            name="%pi.eclipse.cle.CupPropertyPage"
            nameFilter="*.cup"
            objectClass="org.eclipse.core.resources.IFile"/>
      <page
            class="pi.eclipse.cle.properties.LexPropertyPage"
            icon="icons/lex.gif"
            id="pi.eclipse.cle.LexPropertyPage"
            name="%pi.eclipse.cle.LexPropertyPage"
            nameFilter="*.lex"
            objectClass="org.eclipse.core.resources.IFile"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="pi.eclipse.cle"
            name="%pi.eclipse.cle"/>
      <wizard
            canFinishEarly="false"
            category="pi.eclipse.cle"
            class="pi.eclipse.cle.wizards.LexNewWizard"
            hasPages="true"
            icon="icons/lex.gif"
            id="pi.eclipse.cle.LexNewWizard"
            name="%pi.eclipse.cle.LexNewWizard"
            project="true"/>
      <wizard
            canFinishEarly="false"
            category="pi.eclipse.cle"
            class="pi.eclipse.cle.wizards.CupNewWizard"
            hasPages="true"
            icon="icons/cup.gif"
            id="pi.eclipse.cle.CupNewWizard"
            name="%pi.eclipse.cle.CupNewWizard"
            project="true"/>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="pi.eclipse.cle.editors.LexSetupParticipant"
            extensions="lex"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.ui.internal.dialogs.EmptyPreferencePage"
            id="pi.eclipse.cle.CupLexPreferences"
            name="%pi.eclipse.cle.CupLexPreferences"/>
      <page
            category="pi.eclipse.cle.CupLexPreferences"
            class="pi.eclipse.cle.preferences.CupPreferencePage"
            id="pi.eclipse.cle.CupPreferencePage"
            name="%pi.eclipse.cle.CupPreferencePage"/>
      <page
            category="pi.eclipse.cle.CupLexPreferences"
            class="pi.eclipse.cle.preferences.LexPreferencePage"
            id="pi.eclipse.cle.LexPreferencePage"
            name="%pi.eclipse.cle.LexPreferencePage"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="pi.eclipse.cle.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathVariableInitializer">
      <classpathVariableInitializer
            class="pi.eclipse.cle.CleVariablesInitializer"
            variable="CUP_JAR"/>
      <classpathVariableInitializer
            class="pi.eclipse.cle.CleVariablesInitializer"
            variable="LEX_JAR"/>
      <classpathVariableInitializer
            class="pi.eclipse.cle.CleVariablesInitializer"
            variable="CUP_RUNTIME_JAR"/>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="doc/toc.xml"
            primary="true"/>
      <index path="index/"/>
   </extension>

</plugin>
